// Colours
$solid-white: #ffffff;
$off-black: #20222b;
$off-white: #F4F7F7;
$dark-blue: #333744;
$blue: #3c4251;
$light-blue: #464b5e;
$purple: #8357c5;
$pastel-orange: #FFEBB7;

$flat-blue: #1F4E5F;
$flat-off-blue: #4D727E;
$flat-teal: #79A8A9;
$flat-grey-darker: #C1C0B9;
$flat-grey-light: #E7E6E1;

// Spacing
$size-s: 1.2rem;
$size-med: 1.6rem;
$size-lar: 3.2rem;
$size-xl: 4.8rem;
$breakpoint: 45rem;
